<!--Section: Block Content-->
<section>
<div class="column">
<div class="col-md-4 mb-5">
  
  <!-- Card -->
  <div class="">

        <div class="view zoom overlay z-depth-2 rounded">
          <img class="img-fluid w-100"
            src="assets/img/{{wishlistW.book.image}}" alt="Sample">
         
        </div>

        <div class="text-center pt-4">

          <h5><strong>{{wishlistW.book.name}}</strong></h5>
          <p  [ngClass]="{'text-danger' : wishlistW.book.status == 'Out of Stock' ,'text-success': wishlistW.book.status ==='In Stock'  }">{{wishlistW.book.status}}</p>
         
          <hr>
          <h6 class="mb-3"><strong>{{wishlistW.book.prix}} $</strong></h6>
          <button type="button" class="btn btn-danger btn-sm mr-1 mb-2" (click)="sendDeleteEvent()"><i
              class="fas fa-shopping-cart pr-2"></i>Delete</button>
          <button type="button" class="btn btn-light btn-sm mr-1 mb-2" ><i
              class="fas fa-info-circle pr-2"></i>Details</button>
     

        </div>

      </div>
      <!-- Grid column -->
      
    </div>
      
      </div>
      <!-- Grid row --> 
    </section>  
    
<!--Section: Block Content-->