<!--Section: Block Content-->
<app-navbar></app-navbar>



    
   <div class="container">
     
    <section class="mb-4">

      <div class="md-form md-outline mt-0 d-flex justify-content-between align-items-center">
        <input type="text" [(ngModel)]="serach" (keyup)="searchBook()" class="form-control mb-0" placeholder="Book's name">
        
      </div>
    
    </section>
   <!-- Section: Block Content -->

<!--Blue select-->
<select class="mdb-select md-form colorful-select dropdown-primary" searchable="Search here..">
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
  <option value="4">Option 4</option>
  <option value="5">Option 5</option>
</select>

<label class="mdb-main-label">Example label</label>

<select class="mdb-select" searchable="Search here..">
  <option value="1" disabled selected>Choose your option</option>
  <option value="2" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="rounded-circle">
    example
    1</option>
  <option value="3" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle">
    example
    2</option>
  <option value="4" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg" class="rounded-circle">
    example
    1</option>
</select>

    <section>

       
        <div class="row mb-4" *ngFor="let b of books | paginate: { itemsPerPage: 2, currentPage: p }">
            <div *ngIf="b.library.id == idLibrary" >
                
               
            <div class="col-md-5 col-lg-3 col-xl-3">
        
              <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                <img class="img-fluid w-100"
                  src="assets/img/{{b.image}}"
                  alt="image">
              
              </div>
        
            </div>

            <div class="col-md-7 col-lg-9 col-xl-9">
              <div class="row">
                <div class="col-lg-7 col-xl-7">
        
                  <h5><strong>{{b.name}}</strong></h5>
                
                  <p  [ngClass]="{'text-danger' : b.status == 'Out of Stock' ,'text-success': b.status ==='In Stock'  }">{{b.status}}</p>
               
                  <hr>
                  <p class="mb-lg-0">{{b.description}}.</p>
        
                </div>
                <div class="col-lg-5 col-xl-5">
        
                  <h6 class="mb-3"><span><strong>${{b.prix}}</strong></span></h6>
                  <div class="my-4" >
                   
                    <button type="button"  class="btn btn-primary btn-md mr-1 mb-2" (click)="addBookToWishlist(b)"><i
                        class="fas fa-shopping-cart pr-2"></i>Add to Wishlist</button>
                     
                 
                    <button type="button" class="btn btn-light btn-md mr-1 mb-2" (click)="detailBook(b.id)"><i
                        class="fas fa-info-circle pr-2"></i>Details</button>
                  </div>
               
        
                </div>
              </div>
            </div>
          
            
          </div>

        </div>
      
      </section>
      <div style="margin-left: 30%;">
      <pagination-controls  (pageChange)="p = $event"></pagination-controls>
    </div>
      
    </div>
  
    <app-footer></app-footer>
  