<!--Section: Block Content-->
<app-navbar></app-navbar>



    
   <div class="container">
   
    <section>

       
        <div class="row mb-4" *ngFor="let b of books | paginate: { itemsPerPage: 2, currentPage: p }">
            <div *ngIf="b.library.id == idLibrary" >
                
               
            <div class="col-md-5 col-lg-3 col-xl-3">
        
              <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                <img class="img-fluid w-100"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg"
                  alt="Sample">
              
              </div>
        
            </div>

            <div class="col-md-7 col-lg-9 col-xl-9">
              <div class="row">
                <div class="col-lg-7 col-xl-7">
        
                  <h5>{{b.name}}</h5>
                  <p class="mb-2 text-muted text-uppercase small">{{b.status}}</p>
               
                  <hr>
                  <p class="mb-lg-0">{{b.description}}.</p>
        
                </div>
                <div class="col-lg-5 col-xl-5">
        
                  <h6 class="mb-3"><span>${{b.prix}}</span></h6>
                  <div class="my-4">
                    <button type="button" class="btn btn-primary btn-md mr-1 mb-2" (click)="addBookToWishlist(b)"><i
                        class="fas fa-shopping-cart pr-2"></i>Add to Wishlist</button>
                    <button type="button" class="btn btn-light btn-md mr-1 mb-2" (click)="detailBook(b.id)"><i
                        class="fas fa-info-circle pr-2"></i>Details</button>
                  </div>
               
        
                </div>
              </div>
            </div>
          
            
          </div>

        </div>
      
      </section>
      <pagination-controls  (pageChange)="p = $event"></pagination-controls>
      
    </div>
  
    <app-footer></app-footer>
  