<app-navbar></app-navbar>
<div class="container my-5 ">

    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group" >
            
            <label for="email" class="visually-hidden">Email address</label>
            <input type="email" name="email" formControlName="email" class="form-control" id="ex1"  aria-describedby="emailHelp">
            <div *ngIf="email.touched && email.invalid">
               <small *ngIf="email.errors.required" class="text-danger">Email is required<br></small>
                <small *ngIf="email.errors.pattern" class="text-danger">Invalid Email<br></small>
                <small *ngIf="email.errors.minlength" class="text-danger">Email must contain 4 characters at least<br></small>
         
            </div>
      
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" formControlName="password" class="form-control" id="exampleInputPassword1" >
            <div *ngIf="password.touched && password.invalid">
                <small *ngIf="password.errors.required" class="text-danger">Password is required<br></small>
                <small *ngIf="password.errors.pattern" class="text-danger">Invalid password<br></small>
                <small  *ngIf="password.errors.minlength" class="text-danger">password must contain 6 characters at least</small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" >Login</button>
    </form>

</div>
  <app-footer></app-footer>
  
      
   